flask
flask-cors
fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]

torch
torchvision
opencv-python
pillow
numpy
pandas
scikit-learn
tqdm

efficientnet-pytorch
facenet-pytorch
